
@{
    ViewBag.Title = "MissList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 miss_list">
    <div class="card">
        <div class="card-header">
            <div class="float-right">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-secondary"><i class="ion ion-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <h4>DANH SÁCH KHÁCH HÀNG LỠ HẸN</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>STT</th>
                        <th>Khách hàng</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        <th>SĐT</th>
                        <th>Dịch vụ</th>
                        <th>Ngày đặt</th>
                        <th>Ngày hẹn</th>
                        <th>Bác sĩ</th>
                        <th>CSKH</th>
                        <th>Ghi chú</th>
                        <th>Thao tác</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td class="">
                            Lục Vân Tiên
                        </td>
                        <td>
                            19/08/1998
                        </td>
                        <td>
                            Nam
                        </td>
                        <td>
                            0985647584
                        </td>
                        <td>
                            Khám thai
                        </td>
                        <td>
                            20/9/2019
                        </td>
                        <td>
                            25/09/2019
                        </td>
                        <td>
                            Thúy Kiều
                        </td>
                        <td>
                            Thúy Vân
                        </td>
                        <td>
                            Đây là phần mô  tả
                        </td>
                        <td>
                            <button type="button" class="button-custom btn btn-info">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button type="button" class="button-custom btn btn-info">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

