
@{
    ViewBag.Title = "TreatmentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 customer_list">
    <div class="card">
        <div class="card-header">
            <div class="float-right">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-secondary"><i class="ion ion-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <h4>Danh sách khách hàng đang điều trị</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        @*<th class="text-center">
                                <div class="custom-checkbox custom-control">
                                    <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad"
                                           class="custom-control-input" id="checkbox-all">
                                    <label for="checkbox-all" class="custom-control-label"></label>
                                </div>
                            </th>*@
                        <th>STT</th>
                        <th>Tên KH</th>
                        <th>Ngày sinh</th>
                        <th>GT</th>
                        <th>SĐT</th>
                        <th>Dịch vụ</th>
                        <th>Chuẩn đoán</th>
                        <th>Mô tả</th>
                        <th>Ghi chú</th>
                        <th>Địa chỉ</th>
                        <th>Thao tác</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td class="">
                            Nguyễn Ngọc Sơn
                        </td>
                        <td>
                            18/07/1998
                        </td>
                        <td style="width: 20px">Nam</td>
                        <td>
                            <div class="">0985796921</div>
                        </td>
                        <td>
                            Khám thai sản
                        </td>
                        <td>
                            Tháng thứ 7
                        </td>
                        <td>
                            Đây là ghi chú
                        </td>
                        <td>
                            <div class="">Thanh Sơn, Kim Bảng, Hà Nam</div>
                        </td>
                        @*<td><a href="#" class="btn btn-action btn-secondary">Detail</a></td>*@
                        <td><a href="#" class="">ngocsonxx98@gmail.com</a></td>
                        <td>
                            <button type="button" class="button-custom btn btn-info">
                                <i class="fas fa-info-circle"></i>
                            </button>
                            <button type="button" class="button-custom btn btn-info">
                                <i class="fas fa-calendar-alt"></i>
                            </button>
                            <button type="button" class="button-custom btn btn-info">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button type="button" class="button-custom btn btn-info">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

