    <div class="row">
        <div style="" class="col">
            <div class="card card-sm-3">
                <div class="card-icon bg-primary">
                    <i class="ion ion-person"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>Tổng Số Khách Hàng</h4>
                    </div>
                    <div id="all_customer" class="card-body">
                         @ViewBag.all_customer
                    </div>
                </div>
            </div>
        </div>
        <div style="" class="col">
            <div class="card card-sm-3">
                <div class="card-icon bg-danger">
                    <i class="fas fa-heartbeat"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>Đang điều trị</h4>
                    </div>
                    <div class="card-body">
                        429
                    </div>
                </div>
            </div>
        </div>
        <div style="" class="col">
            <div class="card card-sm-3">
                <div class="card-icon bg-info">
                    <i class="fas fa-check-square"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>Đã khám</h4>
                    </div>
                    <div class="card-body">
                        42
                    </div>
                </div>
            </div>
        </div>
        <div style="" class="col">
            <div class="card card-sm-3">
                <div class="card-icon bg-warning">
                    <i class="fas fa-clock"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>Lỡ hẹn</h4>
                    </div>
                    <div class="card-body">
                        1,201
                    </div>
                </div>
            </div>
        </div>
        <div style="" class="col">
            <div class="card card-sm-3">
                <div class="card-icon bg-success">
                    <i class="fas fa-dollar-sign"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>Nợ phí</h4>
                    </div>
                    <div class="card-body">
                        47
                    </div>
                </div>
            </div>
        </div>
    </div>
