@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<div class="container-fluid">
    <h1>Three equal width columns</h1>
    <p>Note: Try to add a new div with class="col" inside the row class - this will create four equal-width columns.</p>
</div>
