@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-4">
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>
    </div>
    <div class="col-md-4">
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.746787389481!2d105.85764861457884!3d21.002784894041255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135addd85756cfb%3A0x2dd16eed7ccc9e26!2sMangotech%20Vi%E1%BB%87t%20Nam!5e0!3m2!1svi!2s!4v1569258367631!5m2!1svi!2s" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>