
@{
    ViewBag.Title = "PaymentProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 payment_profile">
    <div class="card">
        <div class="card-header">
            <div class="float-right">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-secondary"><i class="ion ion-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <h4>Danh sách tổng</h4>
            <button style="width: 10%" type="button" class="btn btn-success"><i class="fas fa-plus-circle mr-1"></i>Thêm mới</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>STT</th>
                        <th>Tên KH</th>
                        <th>SĐT</th>
                        <th>Bác sĩ</th>
                        <th>Chi phí</th>
                        <th>Đã nộp</th>
                        <th>Còn nợ</th>
                        <th>HTTT</th>
                        <th>Thao tác</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td class="">
                            Nguyễn Ngọc Sơn
                        </td>
                        <td>
                            <div class="">0985796921</div>
                        </td>
                        <td>
                           Thúy Vân
                        </td>
                        <td>
                            750.000.000
                        </td>
                        <td>
                            20.000.000
                        </td>
                        <td>
                            730.000.000
                        </td>
                        <td>
                            Chuyển khoản
                        </td>
                        <td>
                            <button type="button" class="button-custom btn btn-info">
                                <i class="fas fa-edit"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

